#amenidades
section.amenities.container-fluid.no-padding
	.col-md-12.img.acces.none
	.col-md-5.text
		.text-content
			h1 Areas Verdes
			p 
				b Conéctate 
				| con la naturaleza dentro de nuestras generosas áreas verdes y goza de la tranquilidad que te brinda Las Ceibas.
			p 
				| Pasa una tarde al aire libre con tu familia comiendo ricos bocadillos o en un día de campo, todo en nuestras áreas verdes que además de ofrecerte un espacio de convivencia vecinal, te permiten disfrutar y estar en contacto con lo natural.
			p
				| Deja tu rutina atrás y déjate consentir por todo lo que Las Ceibas y la madre tierra tiene para ti, llénate de energía, sal con tus hijos y transforma un instante común y corriente en uno que jamás olvidarás.
			p 
				| En Las Ceibas cuidamos cada detalle para que tu vida dentro de las instalaciones sean placenteras, llenas de buenos momentos y vivas con la mejor calidad.
	.col-md-7.img.acces
	.col-md-12.img.gym.none
	.col-md-7.img.gym
	.col-md-5.text
		.text-content
			h1 GYM
			p 
				| Encuéntrate contigo mismo y renuévate en el exclusivo gimnasio de 
				b Las Ceibas 
			p
				| ¿Qué tal prepararte para el próximo maratón de la ciudad, o romper tu marca personal en la caminadora? Todo eso y más podrás hacer dentro del gimnasio equipado en Las Ceibas. 
			p
				| Con aparatos especializados para cada necesidad, conviértete en tu propio coach y sorpréndete con todas las metas que romperás.
			p
				| Además de un excelente ambiente de recreación, envuelve tus sentidos en la tranquilidad de cada espacio que te ofrece Las Ceibas y transforma un cada momento en uno inolvidable.
			p
				| Tu salud y la de tu familia es lo más importante por eso, cuídate en las instalaciones del gimnasio de Las Ceibas en el cual no tienes que atravesar la ciudad o pagar cuotas exclusivas para obtener los beneficios de una rutina de ejercicios. 
			p
				|Nos gusta complacer todas tus necesidades y lo logramos con amenidades exclusivas.
	.col-md-12.img.area.none
	.col-md-5.text
		.text-content
			h1 Área de Juegos
			p  
				| También queremos consentir a los más pequeños con un espacio hecho solo para ellos
			p
				|Para los más pequeños del hogar creamos un espacio ideal para que pasen horas de diversión mientras tú disfrutas de las instalaciones de Las Ceibas.
			p
				|El área de juegos es segura, 
				b divertida 
				| y con todo lo necesario para tus hijos. La tranquilidad que sentirás al vivir en Las Ceibas será inigualable y te brindará memorias con tu 
				b familia
				|  y amigos que durarán toda la vida.

	.col-md-7.img.area
	.col-md-7.img.club
	.col-md-5.text
		.text-content
			h1 Casa Club
			p  
				| Vive momentos únicos en nuestra Casa Club rodeado de tu familia y amigos.
			p
				|En 
				b Las Ceibas, 
				|vivirás grandes historias en la Casa Club donde podrás convivir con tus vecinos, festejar cumpleaños y aniversarios familiares o simplemente pasar un rato agradable leyendo tu libro favorito.
			p
				|Vive momentos sin igual todos los días y disfruta de las vistas increíbles de amaneceres y atardeceres que te ofrece la 
				b Casa Club 
				| de Las Ceibas. Si buscas tranquilidad, estabilidad y espacios que te permitan sacarle provecho a tu vida, ya encontraste la respuesta.


#ventajas
section.us.text-center.container
	h1.brand BENECIFICIOS
	p
		| Una de las 
		span.brand ventajas 
		| que ofrece Las Ceibas es seleccionar el terreno (enlazar a ubicación) que más se adapte a tus necesidades. Edifica la casa de tus sueños y construye, rodeado del mejor ambiente, un lugar que promueve la convivencia familiar.
	p 
		| Además, gracias a la excelente ubicación de los terrenos, podrás disfrutar todos los días del lujo y exclusividad de vivir cerca de todo lo que sucede en la ciudad. Tu bienestar y el de tu familia es lo que más no interesa, por lo que además de ofrecerte un 
		span.brand patrimonio 
		| residencial y una excelente calidad de vida, en Las Ceibas tendrás la seguridad de que tu 
		span.brand inversión 
		| está en las mejores manos.
