#contacto
section.contact.container-fluid
	.container
		h1.brand CONTACTO
		p.text-center 
			| Después de Las Ceibas nada será igual, da clic 
			span.brand 
				a(href="#amenidades") aquí 
			| y conoce más.
		form.form-horizontal(id="ajax-contact", method="post", action="/mailer.php")
			// Form Name
			// Text input
			.form-group
				h2 Nombre Completo:
				input#name.form-control.input-md(name='name', type='text', required='')
			// Text input
			.form-group
				h2 Correo Electronico:
				input#mail.form-control.input-md(name='mail', type='text', required='')
			// Text input
			.form-group
				h2 Número Telefónico:
				input#phone.form-control.input-md(name='phone', type='text', required='')
			// Textarea
			.form-group
				h2 Comentario
				textarea#comment.form-control(name='comment', rows="10")
			button(type='submit', value='Submit') Enviar
		
		
