#lotes
section.lotes.us.text-center
	h1.brand Plan Maestro
	.container
		p
			| Nuestra distribución estratégica te permite disfrutar de cada espacio de tu hogar.Las Ceibas es sin duda el mejor desarrollo de Uruapan, Michoacán. 
		p
			|Su ubicación privilegiada, cerca de vías de acceso, zonas comerciales, escuelas, parques y establecimientos de primera necesidad, te brindará una excelente calidad de vida, y su diseño vanguardista te encantará.El mejor patrimonio familiar te espera para que comiences con lo que siempre planeaste.
		p
			| Con su diseño vanguardista de terrenos que invita a disfrutar, proyectos a tu medida, accesos que hacen más rápido tu traslado a través del residencial y un gran expectativa de crecimiento por estar ubicada en el corazón de la ciudad.Estas son solo algunas razones por las que invertir en Las Ceibas es la mejor decisión de tu vida.
	img(src="./img/Clotes.png", alt="")
