#ubicacion
section.us.text-center.container
	h1.brand UBICACIÓN
	p
		span.brand Vivir 
		| en Las Ceibas es sinónimo de tranquilidad, buen gusto y distinción; sin embargo, también estarás rodeado del ritmo citadino de Uruapan (enlazar a contacto) y de sus atracciones principales.Centros comerciales, escuelas, mercados y mucho lugares de principal necesidad estarán a tu disposición. Sin duda en Las Ceibas tendrás lo mejor de los dos mundos: privacidad y cercanía.
	p
		| Sorpréndete con el lugar donde tienes todo para realizar tus sueños; visita tus tiendas favoritas sin pasar horas en el tráfico, recorre el 
		span.brand centro de Uruapan
		|  y conoce cada rincón de tu ciudad, todo, a minutos de tu nuevo hogar. 

section.map
	#map
