section.hero
    #navbar-change
    h1 
        span LO 
        br 
        |BUENO 
        br 
        span|SE 
        | VIVE 
        br
        |DENTRO 
        span ...
#nosotros
section.us.text-center.container
    h1.brand NOSOTROS
    p
        span.brand Las Ceibas 
        | es un lote residencial donde encontrarás un espacio pensado para tu comodidad y bienestar. Disfruta de todo lo que conlleva vivir aquí. La tranquilidad, comodidad y cercanía de los terrenos te aseguran un ambiente exclusivo con una mayor calidad de vida. 
    p
        span.brand La Ceibas 
        |te ofrece el espacio ideal para que vivas increíbles momentos con tu familia, sin preocuparte por nada. Déjate envolver por el ambiente más exclusivo de todo Uruapan. Sé parte del lugar más privilegiado para vivir tranquilamente con tu familia; disfruta de la exclusividad de un 
        span.brand lugar céntrico 
        | pero alejado del ruido citadino y diviértete en las áreas verdes de Las Ceiba Residencial. 
