$bgDefault: transparent;
$bgHighlight: transparent;
$colDefault: white;
$colHighlight: white;

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    margin: 0;
	height: 100px;
    font-size: 2rem;
    transition: background-color 700ms linear;

    .navbar-brand {
        color: $colDefault;
        &:hover,
        &:focus {
            color: $colHighlight;
        }
    }
    .navbar-right{
        margin-top: 20px;
    }
    .navbar-text {
        color: $colDefault;
    }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover,
                &:focus {
                    color: $colHighlight;
                }
            }
        }
        > .active {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
        > .open {
            > a,
            > a:hover,
            > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover,
        &:focus {
            background-color: $bgHighlight;
        }
        .icon-bar {
            background-color: $colDefault;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault;
    }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight;
        }
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover,
            &:focus {
                color: $colHighlight;
            }
        }
        > .active {
            > a,
            > a:hover,
            > a:focus,
             {
                color: $colHighlight;
                background-color: $bgHighlight;
            }
        }
    }
}

.navbar-default.fadein{
    background-color: $nav-green;
    color: white;
}
