@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/placeholder';
@import 'utils/helpers';

@import 'base/reset';
@import 'base/fonts';
@import 'base/base';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/media';
@import 'components/thumbnails';

@import 'components/us';
@import 'components/amenities';
@import 'components/lotes';
@import 'components/ubication';
@import 'components/contact';

@import 'pages/home';
@import 'pages/contact';

@import 'themes/theme';
@import 'themes/admin';


.hiddens{
	opacity: 0 !important;
}

.visibles{
	opacity: 1 !important;
}
