html {
	font-size: 62.5 !important;
	font-family: GothamBook;
}
h1 {
	font-size: 5rem;
	@include Smartphones {
		font-size: 2rem;
	}
	@include Desktops-lap  {
		font-size: 3.5rem;
	}
	@include Desktops-large  {
		font-size: 5rem;
	}
	@include iPhone5 {
		font-size: 2rem;
	}
}

p {
	text-align: justify;
	font-size: 1.8rem;
	font-weight: normal;

	@include iPhone5 {
		font-size: 1.6rem;
		margin: 0;
		padding: 10px;
	}
	@include Desktops-lap  {
		font-size: 2rem;
	}
	@include Desktops-large  {
		font-size: 2rem;
	}
	@include iPad Smartphones-Landscape  {
		font-size: 2rem;
	}
}

a{
	color: $primary-color;
	&:hover{
		color: black;
		text-decoration: none;
	}
	&:visited{
		color: $primary-color;
	}
}
