doctype html
html(lang='en')
	head
		title Las Ceibas
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		meta(name='description', content='description')
		meta(name='keywords', content='keywords')
		meta(name='author', content='author')
		meta(name="robots", content="index, follow")
		//- ----- CSS Files ----- //
		link(rel='stylesheet', href='css/vendor.min.css')
		link(rel='stylesheet', href='css/style.min.css')
		script(type='text/javascript',src='https://maps.googleapis.com/maps/api/js?sensor=false', attr)
	body
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') 
						img(src="img/logo.png", alt="")
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li.active
							a(href='#nosotros') Nosotros
						li
							a(href='#amenidades') Amenidades
						li
							a(href='#ventajas') Beneficios
						li
							a(href='#lotes') Plan Maestro
						li
							a(href='#ubicacion') Ubicación
						li
							a(href='#contacto') Contacto

			// /.nav-collapse
		.container-fluid.main.text-center.no-padding
			include components/us
			include components/amenities
			include components/lotes
			include components/ubication
			include components/contact
			include layout/footer
		script(type='text/javascript', src='js/vendor.min.js')
		script(type='text/javascript', src='js/all.min.js')
