%center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
%back-img{
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
