.amenities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .none{
        width: 100%;
        border-bottom: 5px solid black;
        display: none !important;

        @include iPhone5 {
            display: block !important;
        }
        @include olderiPhones {
            display: block !important;
        }
        @include iPhone6 {
            display: block !important;
        }

    }
    .img{
        display: flex;
        padding: 100px;
            @include iPhone5 {
                display: none;
        	}
            @include olderiPhones {
                display: none;
            }
            @include iPhone6 {
                display: none;
            }
    }
    .text{
	    display: flex;
        padding: 30px 0;
        align-items: center;

        justify-content: center;

        @include iPhone5 {
            display: 100%;
        }
        @include olderiPhones {
            display: 100%;
        }
        @include iPhone6 {
            display: 100%;
        }

        background-color: $primary-color;
        color: white;

        &-content{
            text-align: left;
            padding: 0 20px;
            p{
                text-align: left;
                @include iPhone5 {
            		font-size: 1.8rem;
            		margin: 0;
                    padding: 0;
            	}
            }
        }
    }
    .acces{
        @extend %back-img;
        background-image: url('../img/slide-1.jpg')
    }
    .gym{
        @extend %back-img;
        background-image: url('../img/gym.jpg');
    }
    .area{
        @extend %back-img;
        background-image: url('../img/slide-3.jpg')
    }
    .club{
        @extend %back-img;
        background-image: url('../img/slide-4.jpg')
    }
}
