.contact{
    padding-top: 50px;
    h2{
        font-size: 2rem;
        font-weight: lighter;
        text-align: left;
    }
    input[type="text"]{
        height: 50px;
        background: $secondary-color;
        color: black;
        font-size: 2rem;
        font-weight: lighter;
    }
    textarea{
        background: $secondary-color;
        color: black;
        font-size: 2rem;
        font-weight: lighter;
    }
    button{
        float: right;
        width: 250px;
        height: 55px;
        text-align: center;
        margin: 0;
        background-color:#56565A;
        color: white;
        font-size: 2rem;
    }
}
