.hero{
    background-image: url('../img/hero1.jpg');
    background-size: cover;
    background-position: 100% 100%;
    height: 70vh;
    position: relative;

	h1{
        @extend %center;
        text-align: left;
        font-size: 7rem;
        color: white;
        @include iPhone5 {
            font-size: 3.5rem;
        }
	}
    span{
        font-style: normal;
        font-weight: lighter;
    }
}

.us{

	padding: 25px;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;

    span{
        font-weight: bold;
    }
}
