footer 
	.container
		.col-md-6
			p
				|Privada Lázaro Cárdenas 54. Uruapan Michoacan, México. 
				br
				|Tel: (452)5240864 / lasceibasupn@gmail.com 
		.col-md-6.pull-right
			span LAS CEIBAS 2016
			img(src="img/onlylogo.png", alt="")
